body {
    text-align: center;
}

h1 {
    color: #1F9ED8;
    margin-top: 30px;
}

#content {
    margin-top: 20px;
}

.form-select {
    width: auto;
    margin: 0 auto;
}

#citycountry {
    margin-top: 20px;
}

#weather {
    margin-top: 80px;
}

.imgweather {
    height: 100px;
    width: auto;
    filter: invert(62%) sepia(59%) saturate(2551%) hue-rotate(167deg) brightness(85%) contrast(98%);
}